<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   	<title>CSS Media Test</title>
	<script type="text/javascript" src="../jquery-1.11.1.min.js"></script>
	<!--模板引擎-->
	<!--<script type="text/javascript" src="../underscore.js"></script>-->
	<!--<script type="text/javascript" src="../agility.min.js"></script>-->
	<script type="text/javascript" src="../my_template.js"></script>
	<!--JSON美化展示-->
	<script type="text/javascript" src="../json-beautify.js"></script>
	<!-- 打印-->
	<script type="text/javascript" src="../src/printspec.0.1.js"></script>
	
	<!--[if IE]>
	<![endif]-->
	<!--  IE下 运行不成功 。。。
	<style> 
		@media print {
			.notprint { 
				opacity: 0;
			}
		}
	</style>
	-->
	
	<!--模板-->
	<script id="print_template" type="text/html">
		<div style="border: 1px solid lightblue;">
			<h1 style="color:Red" class="notprint">Name : </h1>
			<h1><%==  p.发票号码  =%></h1>
			<h1 style="color:Red" class="notprint">Prise : </h1>
			<h1><%==  p.付款方  =%></h1>
		</div>
	</script>
	
	<script type="text/javascript">
	
		$(document).ready(function(){
		
			$.getJSON("data.json", function(data){
				/*
				//TODO : IE 不支持 JSON 对象, 需要在head中添加JSON.js
				// 美化拿到的JSON数据，并展示在页面上（指定位置）
				*/
				$("#div_data_to_print").append(beautifyJSON(data));
				
				/*
				// TODO : IE 不支持 自定义的模板，需要另寻它法
				// 使用自定义的页面模板将数据展示在页面上（指定位置）
				*/
				$("#div_to_print").append( new JTemp('print_template').build( data ) );
				
				/*
				//Using template of underscore.js
				var compiled = _.template(
					  '<div style="border: 1px solid lightblue;">'
					+ '<h1 style="color:Red;"  class="notprint">Name : </h1>'
					+ '<h1 style="color:Black"><%- "code"  %></h1>'
					+ '<h1 style="color:Red;"  class="notprint">Prise : </h1>'
					+ '<h1 style="color:Black" data-bind="时间"></h1>'
					+ '</div>');
				compiled({'code':"123242354356"});
				$("#div_to_print").append( compiled );
				var compiled = _.template("<h1><%- '12' %></h1>");
				compiled({ 12 : "123242354356"});
				console.log(compiled);
				$("#div_to_print").append( compiled );
				$("#div_to_print").html( _.template($("#div_to_print").html(), data)); 

				//Using agility.js
				var info_view = $$({}, 
					'<div style="border: 1px solid lightblue;">'
					+ '<h1 style="color:Red;"  class="notprint">Name : </h1>'
					+ '<h1 style="color:Black" data-bind="发票号码"></h1>'
					+ '<h1 style="color:Red;"  class="notprint">Prise : </h1>'
					+ '<h1 style="color:Black" data-bind="时间"></h1>'
					+ '</div>'
				);
				var employmentInfo_html = $$(info_view, data);
				$("#div_to_print").append(employmentInfo_html.view.$root);
				*/
			});
		});
	</script>
</head>
<body>
<div>
	<h1 style="Color:Red">The Div content which you don't  want to print</h1>
	<div id="div_data_to_print"></div>
	
	<input name="b_print" type="button" onClick="printDiv('div_to_print');" value=" Print, IE not support... ">
	<input name="j_print" type="button" onClick="jQueryPrintDiv('div_to_print');" value=" Print_jQuery ">
	<div id="div_to_print">
	
		<!--  Your conetnt should be inclueded here ...  -->
		
	</div>
	
	<h1 style="Color:Red">The Div content which you don't  want to print</h1>
	
</div>
</body>
</html>

